
    <div class="container resume-holder p-3  d-flex flex-column justify-content-center align-items-center" style="width:70vw; height:auto">
        <div #resumePdf id="resumePdf" style="padding:3rem;" >
            <table style="border:none; width: 100%;"  cellpadding="0" cellspacing="0">
                <tr style="border:none">
                    <td style="vertical-align: initial;" colspan="6" width="60%">
                        <div  style="width:60%">
                            <h1 style="padding:0px;margin:0px; font-weight: 900;">Abrar Khan</h1>
                        </div>
                    </td>
                     <td  style="width:40%" colspan="4">
                        <div >
                            <p style="margin:0; padding:0;" id="address">09, RM Road,Gulshan
                                Nagar,Jogeshwari West, Mumbai 400102,Maharashtra</p>
                            <p style="margin:0; padding:0; line-height: normal;" id="contact">(+91) 8828171278</p>
                            <p style="margin:0; padding:0;line-height: normal;" id="email">er.khanabrar786@gmail.com</p>
                        </div>
                    </td>
                </tr>
               
            </table>
            <table style=" width: 100%;">
                <tr style="border:none">
                    <td>
                        <div>
                            <h2 class="color" style="margin:0; padding:0;color:blue">Objective</h2>
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td >
                        <div>
                            <p  style="margin:0; padding:0">Seeking a
                                position to apply the knowledge that I have learned and explore
                                abilities, skills, towards my duties and to excel in the field of Java.
                            </p>
                        </div>
                    </td>
                </tr>

            </table>
            <table  style=" width: 100%;">
                <!--Education & skills--->
                <tr style="border:none">
                    <td style="width:60%">
                        <div>
                            <h2 style="margin:0; padding:0; color:blue">Education
                            </h2>
                        </div>
                    </td>
                    <td style="width:40%">
                        <div>
                            <h2 style="margin:0; padding:0; color:blue">Skill
                            </h2>
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="vertical-align: initial;">
                        <div>
                            <div style="margin-bottom:1rem;">
                                <p  style="margin:0; padding:0;font-weight: 500;">
                                    JIEMS, Maharashtra— B.E. Electronics & Telecommunication
                                </p>
                                <p id="aggregate" style="margin:0; padding:0;">
                                    Aggregate: 60%
                                </p>
                                <p id="duration" style="margin:0; padding:0;">
                                    April 2011 - May 2015
                                </p>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: initial;">
                        <div style="margin:0; padding:0 ">
                            <p style="margin:0; padding:0 ">
                                java,Angular,springboot,core
                                java,Hibernate,git,github,ava,Angular,springboot,core java,Hibernate,git,github
                            </p>
                        </div>
                    </td>
                </tr>
                <!-- Experience  and social media link-->
                <tr style="border:none">
                    <td>
                        <div>
                            <h2 style="margin:0; padding:0; color:blue">Experience</h2>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h2 style="margin:0; padding:0; color:blue">Social Media Link
                            </h2>
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="vertical-align: initial;">
                        <div>
                            <div style="margin-bottom:8px;">
                                <p style="margin:0; padding:0;">
                                    Catseye Systems & Solution, Mumbai-Junior Java Developer
                                </p>
                                <p id="role2" style="margin:0; padding:0; ">
                                    This is a prototype that can be operated by the voice command from the user.
                                    Here we
                                    use a
                                    module uses an IC called HM 2007.
                                </p>
                                <p id="startDateAndEndDate2" style="margin:0; padding:0;">
                                    April 2021-May 2022.
                                </p>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: initial;">
                        <div style="display:flex;flex-direction:column;align-items:start">
                            <div>
                                <p style="margin:0; padding:0 ;line-height: normal;" id="socialMedia1">Github</p>
                                <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                            </div>
                            <div class="mt-1">
                                <p style="margin:0; padding:0 ;line-height: normal;" id="socialMedia2">LinkdIn</p>
                                <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                            </div>
                            <div class="mt-1">
                                <p style="margin:0; padding:0 ;line-height: normal;" id="socialMedia3">stackoverflow
                                </p>
                                <p style="margin:0; padding:0 ;">https://github.com/Abrarkhan-786/cltech_ui</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Projects-->
                <tr style="border:none">
                    <td >
                        <div>
                            <h2 style="margin:0; padding:0;color:blue">Projects</h2>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr style="border:none">
                    <td style="vertical-align: initial;">
                        <div>
                            <div style="margin-bottom:8px;">
                                <p style="margin:0; padding:0;">
                                    VoiceOperated Intelligence Fire Extinguisher —Detail
                                </p>
                                <p id="projectDescription" style="margin:0; padding:0;">
                                    This is a prototype that can be operated by the voice command from the user.
                                    Here w
                                    e use a
                                    speech recognition module for giving and processing voice commands. A speech
                                    recognition
                                    module uses an IC called HM 2007.
                                </p>
                            </div>
                            <div style="margin-bottom:8px;">
                                <p style="margin:0; padding:0;">
                                    VoiceOperated Intelligence Fire Extinguisher —Detail
                                </p>
                                <p id="projectDescription2" style="margin:0; padding:0;">
                                    This is a prototype that can be operated by the voice command from the user.
                                    Here w
                                    e use a
                                    speech recognition module for giving and processing voice commands. A speech
                                    recognition
                                    module uses an IC called HM 2007.
                                </p>
                            </div>

                        </div>
                    </td>
                    <td></td>

                </tr>
            </table>
            <table>
                <!-- declaration -->
                <tr style="border:none">
                    <td>
                        <div>
                            <h2 style="margin:0; padding:0;color:blue">Declaration</h2>
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="vertical-align: initial;">
                        <div style="margin-bottom:8px;">
                            <p style="margin:0; padding:0 ;">I hereby declare that the information provided is true
                                to
                                the best of my knowledgeand belief.</p>
                        </div>
                    </td>
                    
                </tr>
                <tr style="border:none">
                    <td>
                        <p style="margin:0; padding:0;line-height: normal;">Date:23/07/2022</p>
                        <p style="margin:0; padding:0 ;">Place:Mumbai</p>
                    </td>
                    
                </tr>
            </table>
        </div>
        <!--Buttons-->
        <div class="mt-2">
            <div class="d-flex">

                <!-- <div class="">
                    <button mat-raised-button color="warn" (click)="print()">Print</button>
                </div> -->
                <div class="">
                    <button mat-raised-button color="warn" (click)="downloadAsDocx()">Export To Docx</button>
                </div>
                <div class="ml-3">
                    <button mat-raised-button color="primary" type="button" (click)="openPDF()">Export To PDF</button>
                </div>
                <div class="ml-3">
                    <button mat-raised-button color="primary" type="button" (click)="close()">Close</button>
                </div>
                <div class="ml-2 mt-2">
                    <mat-checkbox (change)="hideContactDetail($event.checked)"> Hide Detail</mat-checkbox>
                </div>
            </div>
        </div>
    </div>

