<div class="wrapper">
    <div class="page-title-wrapper">
        <div class="mr-3 mt-1 icon" (click)="backToGrid()">
            <mat-icon>arrow_back</mat-icon>
        </div>
        <div class=" page-title">{{title}}</div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-body">
             <form  [formGroup]="form"  (submit)="save()">
                <div  class="smd-block"  fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="8px" >
                    <div>
                      <input class="form-control" type="file" #file  formControlName="file" accept=".xls,.xlsx" (change)="onFilechange($event)">
                    </div>

                    <div>
                       <button mat-raised-button color="raised"  color="secondry" type="button" (click)="clear()"> Clear</button> 
                    </div>

                    <div>
                       <button mat-raised-button color="primary" [disabled]="form.invalid || locked"><mat-icon *ngIf="showSpinner" ><mat-spinner color="accent" diameter="20" ></mat-spinner></mat-icon><mat-icon class="mr-1 mb-1">cloud_upload</mat-icon>Upload</button> 
                    </div>
                </div>
             </form>
            </div>
        </div>
    </div>
</div>