<div class="wrapper-login">
    <div class="form-container_wrapper">
      <div class="form-container ">
            <form action="" class="form" [formGroup]="form">
                <div class="logo-container">
                    <img src="/assets/image/cl-technologies-logo.png" alt="CLTECH">
                </div>
                <div class="form-title"><h2>Forgot Password</h2></div><hr><br>
                <div *ngIf="btnVerified">
                    <div class="row">
                        <div class="col-lg-12  col-sm-12  col-md-12">
                        <mat-form-field appearance="outline" floatLabel="always"  >
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" name="email" formControlName="email" >
                            <mat-error *ngIf="form.get('email')?.hasError('required')">
                                It is required
                            </mat-error>
                            <mat-error *ngIf="form.get('email')?.hasError('email')">
                            invalid pattern
                        </mat-error>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12  col-md-12">
                            <mat-form-field appearance="outline" fxFlex="100" floatLabel="always" >
                                <mat-label>Security Questions</mat-label>
                                <mat-select name="securityQuestion" formControlName="securityQuestion">
                                    <mat-option *ngFor="let question of securityQuestions" [value]="question.code">{{question.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('question')?.hasError('required')">
                                    It is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12  col-md-12">
                            <mat-form-field appearance="outline" floatLabel="always" >
                                <mat-label>Security Answer</mat-label>
                                <input matInput placeholder="Security Answer" name="securityAnswer" formControlName="securityAnswer">
                                <mat-error *ngIf="form.get('securityAnswer')?.hasError('required')">
                                    It is required
                                </mat-error>
                                <mat-error *ngIf="form.get('securityAnswer')?.hasError('minlength')">
                                    atleast 3 character is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div> 
                    <div class="ver-btn row" >
                        <button type="button" mat-raised-button color="primary" (click)="verifyMail()" >Verify</button>       
                    </div>
                    <div class="ver-btn row" >
                        <button type="button" mat-raised-button color="accent" (click)="back()" >Back</button>       
                    </div>
                </div>
                <div *ngIf="userVerified" class="row">
                    <div class="col-lg-12  col-sm-12  col-md-12">
                        <div class="form-title">                                
                             <h3>Hello...<label class="name">{{firstName}} {{lastName}}</label></h3>
                        </div>
                        <mat-form-field appearance="outline" floatLabel="always"  >
                            <mat-label>Password</mat-label>
                            <input   matInput  placeholder="Password" name="password" formControlName="password" [type]="showPassword?'text':'password'" appBlockCopyPaste >
                            <mat-icon class="icon" matSuffix (click)="toggleVisibilityOfPassword()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
                            <mat-error *ngIf="form.get('password')?.hasError('required')">
                                It is required
                            </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('minlength')">
                                8 character is allowed
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" >
                            <mat-label>Confirm Password</mat-label>
                            <input   matInput placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" [type]="showConfirmPassword?'text':'password'" appBlockCopyPaste>
                            <mat-icon class="icon" matSuffix (click)="toggleVisibilityOfConfirmPassword()">{{showConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
                            <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
                                It is required
                            </mat-error>
                            <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
                                password mismatch
                            </mat-error>
                        </mat-form-field>
                        <div class="ver-btn row" >
                            <button type="button" mat-raised-button color="primary" (click)="save()">Save</button>       
                        </div>
                    </div>                    
                </div>                    
            </form>
        </div>
    </div>
</div>