<div class="container">
    <div class="grid-container">
        <div class>
          <h2>Employee Grid</h2>
        </div >
          <div class="card" >
            <div class="card-body d-flex justify-content-center align-items-center">
                <!-- <jqxGrid  #jqxGrid [width]="getWidth()" 
                [height]="450"
                 [source]="dataAdapter" 
                 [filterable]="true"
                    [showfilterrow]="true" 
                    [columns]="columns"
                     [pageable]="true"
                      [sortable]="true"
                       [rowsheight]=45
                    [columnsheight]=45
                     [pagesize]="10" 
                     [pagesizeoptions]="[10, 20, 50]" 
                    [columnsresize]="true" 
                    [columnsautoresize]="true">
                </jqxGrid>  -->

            <jqxGrid  #jqxGrid [width]="getWidth()" [height]="450" [source]="dataAdapter" [filterable]="true"
                [showfilterrow]="true" [columns]="columns" [pageable]="true" [sortable]="true" [rowsheight]=45
                [columnsheight]=45 [pagesize]="3" [pagesizeoptions]="[10, 20, 50]" [virtualmode]="true"
                [columnsresize]="true" [columnsautoresize]="true" [rendergridrows]="rendergridrows">
            </jqxGrid>
                
            </div>
          </div>
    </div>
</div>